extends /layouts/application.pug

block title
  - const title = `Edit task #${task.id}`;

block content
  h3.mb-3.text-center.mt-3 Edit task
  .row
    .col-8
      +formFor(f, { url: urlFor('editTask', { id: task.id }), method: 'patch' })
        +input(f, 'name')
        +inputArea(f, 'description', 'Description', 12)
        .row
          .col-md-2
            +inputSelect(f, 'taskStatusId', taskStatuses, 'Status')
          .col-md-3
            +inputSelect(f, 'assignedToId', users, 'Assigned to')
          .col-md-7
            +inputForTags(f, 'tags', 'Tags')
        .row
          .col
            +button(f, 'Update task')
          .col.col-auto
            a(class="btn btn-light" role="button" href=urlFor('tasks') rel='nofollow') Cancel
            
    .col-sm-4
      .card
        .card-header Task info
        .card-body
          table.table
            thead
              tr
                th ID
                th= task.id
            tbody
              tr
                td Creator
                td= task.creator.fullName
              tr
                td Created
                td= formatDate(new Date(task.createdAt), 'HH:mm DD.MM.YYYY')
              tr
                td Updated
                td= formatDate(new Date(task.updatedAt), 'HH:mm DD.MM.YYYY')
          button.btn.btn-danger(type="button" data-toggle="modal" data-target="#deleteTask") Delete task

  div(class="modal fade" id="deleteTask" tabindex="-1" role="dialog" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Delete confirmation
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body Are you sure you want do delete this task? This action cannot be undone.
        div.modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          a(class="btn btn-danger" role="button" href=urlFor('deleteTask', { id: task.id }) data-method='delete' rel='nofollow') Delete task