extends /layouts/application.pug

block title
  - const title = `Tasks`;

block content
  .row
    .col-md-2.align-self-end
      if isSignedIn()
        a.btn.btn-primary.mb-3(role="button" href=urlFor('newTask') rel='nofollow') Create task
    .col
      +formFor(f, { url: urlFor('tasks'), method: 'get' })
        .row.justify-content-end
          .col-md-2.align-self-end
            .row.justify-content-end.mr-1
              if isSignedIn()
                +inlineInputSelectOnchange(f, 'myTasks', myTasks, 'My tasks', filterQuery.myTasks)
          .col-md-7
              .row
                .col-md-3.align-self-end
                  +inlineInputSelectOnchange(f, 'taskStatusId', taskStatuses, 'Status', filterQuery.taskStatusId)
                .col-md-4.align-self-end
                  +inlineInputSelectOnchange(f, 'assignedToId', users, 'Assigned to', filterQuery.assignedToId)
                .col-md-4.align-self-end
                  +mulitpleInputSelectOnchange(f, 'tags', tags, 'Tags', filterQuery.tags)     
  table.table.table-hover.shadow-sm
    thead.thead-light
      tr
        th ID
        th Task
        th Status
        th Creator
        th Assigned to
        th Tags
        th Created
    tbody
      each task in tasks
        tr
          td.align-middle= task.id
          td.align-middle
            a(href=urlFor('showTask', { id: task.id }))= task.name
          td.align-middle= task.taskStatus.name
          td.align-middle
            a(href=urlFor('showUser', { id: task.creator.id }))= task.creator.fullName
          td.align-middle
            if(task.assignedTo !== null)
              a(href=urlFor('showUser', { id: task.assignedTo.id }))= task.assignedTo.fullName
          td.align-middle
            each tag in task.tags
              a.badge.badge-success.badge-pill(href=`?tags=${tag.id}`)= tag.name
              span  
          td.align-middle= formatDate(new Date(task.createdAt), 'HH:mm DD.MM.YYYY')
  if (countTasks === 0)
    .row.justify-content-center
      p No tasks found
  if (pages.numOfPages !== 1)
    nav(aria-label='Page navigation')
      ul.pagination
        - var page = 1;
        while page <= pages.numOfPages
          - const isActive = (page == pages.currentPage ? 'active' : '');
          li.page-item(class= isActive)
            - const getQuery = (queryName) => queryName in filterQuery ? `&${queryName}=${filterQuery[queryName]}` : '';
            - const getTagQuery = (queryName) => queryName in filterQuery ? `&${queryName}=${filterQuery[queryName].reduce((acc, tagId) => `${acc}&${queryName}=${tagId}`)}` : '';
            a.page-link(href=`?page=${page}${getQuery('myTasks')}${getQuery('taskStatusId')}${getQuery('assignedToId')}${getTagQuery('tags')}`)= page++