extends /layouts/application.pug

block title
  - const title = `Task #${task.id}`;

block content
  .row
    .col-sm-8
      h2= task.name
      hr
      p!= task.description.replace(/\n/g, '<br />')
    .col-sm-4
      .card
        .card-header Task info
        .card-body
          table.table
            thead
              tr
                th ID
                th= task.id
            tbody
              tr
                td Status
                td
                  if isSignedIn()
                    +formFor(f, { url: urlFor('updateTaskStatus', { id: task.id }), method: 'patch' })
                      +inputSelectOnchange(f, 'taskStatusId', taskStatuses)
                  else
                    =task.taskStatus.name
              tr
                td Creator
                td
                  a(href=urlFor('showUser', { id: task.creator.id }))= task.creator.fullName
              tr
                td Assigned to
                td
                  if(task.assignedTo !== null)
                    a(href=urlFor('showUser', { id: task.assignedTo.id }))= task.assignedTo.fullName
              tr
                td Created
                td= formatDate(new Date(task.createdAt), 'HH:mm DD.MM.YYYY')
              tr
                td Updated
                td= formatDate(new Date(task.updatedAt), 'HH:mm DD.MM.YYYY')  
              tr
                td Tags
                td
                  each tag in task.tags
                    a.badge.badge-success.badge-pill(href=`/tasks/?tags=${tag.id}`)= tag.name
                    span  
          if isSignedIn() 
            a(href=urlFor('editTask', { id: task.id }) class="btn btn-primary") Edit task
